<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--核心配置文件-->
<!-- ResultType和ResultMap都是执行查询语句时返回的结果集-->

<mapper namespace="com.xue.dao.StudentMapper">
    <!--查询所有老师信息，以及对象学生的老师信息,嵌套子查询-->
    <select id="getStudent" resultMap="StudentTeacher">
    SELECT * FROM student ;
    </select>
    <resultMap id="StudentTeacher" type="Student">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <!--复杂的属性，我们需要单独出来比如 <result column="student" property="student"
        对象：使用association
        集合;collection
        ResultType和ResultMap都是执行查询语句时返回的结果集
        />-->
        <association property="teacher" column="tid" javaType="Teacher" select="getTeacher"/>
    </resultMap>
    <select id="getTeacher" resultType="Teacher">
        select * from teacher where id=#{tid};
    </select>


    <!--按照结构嵌套查询-->
    <select id="getStudent2" resultMap="StudentTeacher2">
        select s.id sid,s.name sname,t.name tname
        from student s,teacher t
        where s.tid=t.id;
    </select>
    <resultMap id="StudentTeacher2" type="Student">
        <result property="id" column="sid"/>
        <result property="name" column="sname"/>
        <association property="teacher" javaType="Teacher">
            <result property="name" column="tname"/>
        </association>

    </resultMap>

</mapper>