<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.xue.dao.UserMapper"><!--命名空间-->
    <!--cache缓存-->
    <!--这里的resultType是Sql语句的返回值-->
    <!--标签id绑定方法名称,命名空间下的方法名-->
    <!--parameterType指的是传入参数类型-->
    <select id="getUserList" resultType="user">
    select * from day14.user ;
    </select>
    <!--
    select * from user where id=?
     select * from user where id=? or 1=1
    -->
    <select id="getUserLike" resultType="com.xue.pojo.User">
        select * from user where username like "%"#{value}"%";
    </select>

    <select id="getUserById" parameterType="int" resultType="com.xue.pojo.User">
        select * from day14.user where id=#{id}
    </select>
    <insert id="addUser" parameterType="com.xue.pojo.User">
        insert into day14.user values (#{id},#{username},#{password})
    </insert>
    <insert id="addUser2" parameterType="map">
        insert into user (id,username,password) values (#{Id},#{ur},#{pwd})
    </insert>
    <update id="updateUser" parameterType="com.xue.pojo.User">
        update day14.user set username=#{username},password=#{password}  where id=#{id} ;
    </update>
    
    <delete id="deleUser" parameterType="int">
        delete from user where id=#{id};
    </delete>
</mapper>